<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin> 
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="muslan.query.interpreter.eclipse.launch.QueryLaunchShortcut"
            description="Executes a Query"
            icon="icons/FSM16.gif"
            id="muslan.query.interpreter.eclipse.launch.FSMLaunchShortcutType"
            label="Execute Query"
            modes="run">
          <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt type="org.eclipse.core.resources.IFile"/>
                    <test property="org.eclipse.debug.ui.matchesPattern"
                          value="*.query"/>
               </iterate>
             </with>
           </enablement>
           <contextLabel
              mode="run"
              label="Query"/>
         </contextualLaunch>
      </shortcut>
   </extension>
</plugin>
