<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated queue -->
      <package
            uri="https://www.example.org/queue"
            class="queue.QueuePackage"
            genModel="model/Queue.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated queue -->
      <package
            uri="https://www.example.org/collection"
            class="collection.CollectionPackage"
            genModel="model/Queue.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated queue -->
      <package
            uri="https://www.example.org/pbconfig"
            class="pbconfig.PbconfigPackage"
            genModel="model/Queue.genmodel"/>
   </extension>

</plugin>
