<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated relation -->
      <package
            uri="https://www.example.org/relation"
            class="muslan.relation.RelationPackage"
            genModel="model/relation.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated relation -->
      <package
            uri="https://www.example.org/collection"
            class="collection.CollectionPackage"
            genModel="model/relation.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated relation -->
      <package
            uri="https://www.example.org/playlist"
            class="playlist.PlaylistPackage"
            genModel="model/relation.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated relation -->
      <package
            uri="https://www.example.org/pbconfig"
            class="pbconfig.PbconfigPackage"
            genModel="model/relation.genmodel"/>
   </extension>

</plugin>
